@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {

  --color-green: #B9FF66;
  --color-grey: #F3F3F3;
  --color-dark: #191A23;

  --color-primary: var(--color-green);
  --color-secondary: var(--color-grey);
  --color-tertiary: var(--color-dark);

  --font-space: 'Space Grotesk','sans-serif';

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-p: 1.5rem;
  --text-h1: 3.75rem;
  --text-h2: 2.5rem;
  --text-h3: 1.875rem;
  --text-h4: 1.25rem;
  --text-h1-mob: 2.6875rem;
  --text-h2-mob: 2.25rem;
  --text-h3-mob: 1.625rem;
  --text-h4-mob: 1.125rem;
  --text-p-mob: 1rem;

  --radius-default: 14px;
}


@layer base {

   html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }

   body {
      @apply 
       font-space
       text-[18px]
       font-regular
       text-black
   }

   h1 {
      @apply
         font-space
         font-medium
         text-h1
   }

   h2 {
      @apply
         font-space
         font-medium
         text-h2
   }

   h3 {
      @apply
         font-space
         font-medium
         text-h3
   }

   h4 {
      @apply
         font-space
         font-medium
         text-h4
   }

   p {
      @apply
         font-space
         font-regular
         text-p
         leading-7
   }
}

@layer components{
   
   .hamburger{
      @apply
         inline-flex
         items-center
         w-7.5 md:w-10 
         h-5 sm:h-auto md:h-5
         lg:hidden
   }



}

@layer utilities {

      /* Screen */
   .main{
      @apply
         grid 
         grid-cols-1
         mx-6 sm:mx-10 md:mx-10 lg:mx-12.5 xl:mx-25 
         lg:mt-12
   }

   /* navbar */
   .navbar {
      @apply
         sticky 
         top-0 left-0 
         px-6 sm:px-10 
         py-4 sm:py-6 
         md:hidden 
         w-full 
         z-50 
         shadow-md
         bg-white
   }
   
   .logo {
      @apply
       inline-flex 
       items-center 
       space-x-[13px] 
       w-37 sm:w-45.5 md:w-37 lg:w-55
       h-6  sm:h-7 md:h-6 lg:h-9
   }

   .navbar-labels{
      @apply
         hidden lg:flex  
         items-center 
         justify-center 
         lg:gap-5 xl:gap-10
   }

   .text-nav{
      @apply
         lg:text-[20px]
         text-black 
         leading-7 
         whitespace-nowrap
   }

   /* hero section */
   .hero {
      @apply
         flex 
         flex-col 
         gap-10 sm:gap-20 lg:gap-17.5 
         col-span-full
         items-center md:items-start
         justify-center
   }

   .header{
      @apply
         flex
         flex-col md:flex-row 
         h-fit
         md:justify-between
         items-center 
   }

   .header-element{
      @apply
         flex 
         flex-col 
         pt-10 sm:pt-25 md:pt-0
         pb-8
         h-[90vh] md:h-fit
         justify-between gap-5 sm:gap-8 md:gap-3 lg:gap-9 
         max-w-88 md:w-[326px] lg:w-133
   }

   .header-element-h{
      @apply
         font-medium 
         text-h3-mob sm:text-[48px] md:text-[36px] lg:text-6xl 
         text-center sm:text-center md:text-start
   }

   .header-element-p{
      @apply
         font-regular 
         text-[14px] sm:text-h3-mob md:text-[16px] lg:text-[20px] 
         leading-5 sm:leading-10 md:leading-5 lg:leading-7
         text-center sm:text-center md:text-start
         text-black
   }

   .hero-btn {
      @apply
            flex
            items-center 
            justify-center 
            px-8.75 md:px-4
            py-3 md:py-2
            rounded-default
            w-full md:w-fit 
            bg-black
            text-white
   }
   
   .hero-svg{
      @apply
      w-full  md:w-84 lg:w-150
      h-fit  sm:h-115 md:h-77  lg:h-129
   }
}